html, body
{
    margin: 0;
    padding: 0;
}
.marineda-header
{
    /*color: white !important;*/
    text-align: center;
}

.paragraph-info
{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.marineda-redir-btn
{
    margin-top: 8px;
    width: 100%;
}

.wrapper
{
    width: 100%;
}

.wrapper-inner
{
    width: 80%;
    margin: 0px auto;
}

.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cccccc;
    padding: 8px;
}

.footer-entry
{
    padding-left: 8px;
}